<div class="row">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">
        <i class="fa fa-home"></i> Início
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-plus"></i> Cadastrar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clientes">
        <i class="fa fa-eye"></i> Listar
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-edit"></i> Editar
      </a>
    </li>
  </ul>

  <div class="col content">
    <router-outlet></router-outlet>
  </div>


</div>

