<div class="card">
  <div class="card-body text-center">
    FMS Academia Fitness.
  </div>
</div>

<div class="alert alert-info mt-5 text-center" role="alert">
  <h4 class="alert-heading">Bem vindo ao sistema FMS Academia Fitness!</h4>
  <p>Aqui você vai ter em sua tela todos os clientes de sua academia e poder acompnhar de perto todos os alunos.</p>
  <hr>
  <p class="mb-0">Esse seu carinho com seus alunos mostra o quanto você é comprometido em oferecer o melhor.</p>
</div>

<div class="text-center" role="alert">
  <img src="../../../assets/img/logo.jpg" alt="logo" style="width: 500px;">
</div>

