<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Endereço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th scope="row">{{cliente.id}}</th>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.idade}}</td>
      <td>{{cliente.endereco}}</td>
      <td>
        <a class="btn btn-outline-primary btn-sm m-1" type="button"
          routerLink="/clientes/update/{{cliente.id}}">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-outline-danger btn-sm" type="button"
          routerLink="/clientes/delete/{{cliente.id}}">
          <i class="fa fa-trash-o"></i>
        </a>

      </td>
    </tr>
  </tbody>
</table>
